

input{
	height: 50px;
	width: 370px ;
	margin: 10px auto;
	display: block;
	border: none;
	border-bottom: 1px solid lightgray;
	outline: none;
	padding-left: 20px;
}


#main-form {
	width: 420px;
	height: auto;
	margin: 100px auto;
	border: 2px solid #EAEAEA;
	border-radius: 7px;
	padding: 30px;
}

#submit-button {
	height: 30px;
	margin: 20px auto;
	background-color: #2196F3;
	color: white;
	text-align:center;
	border-radius: 5px;
}

#sign-in {
	text-align: center;
	font-family: Calibri;
	font-size: 30px;
	padding-top: 12px;

}

#firstNameError, #lastNameError, #yearOfBirthError,
#usernameError, #passwordError, #passwordConfirmError {
	display: none;
	margin:auto;
	text-align: center;
	color: red;
	font-family: Calibri;
}

.congrats {
	text-align: center;
	margin: 100px auto;
	font-size: 30px;
	font-family: Calibri;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
	font-size: 15px;
}
::-moz-placeholder { /* Firefox 19+ */
	color: grey;
	font-size: 15px;
}
:-ms-input-placeholder { /* IE 10+ */
	font-size: 15px;
    color: grey;
}
:-moz-placeholder { /* Firefox 18- */
	font-size: 15px;
    color: grey;
}
